# Core ML / PyTorch
torch>=2.0
torchaudio>=2.0
torch-ema
einops
einops-exts
scikit-learn
umap-learn
info-nce-pytorch

# Audio processing
librosa>=0.10.2
nnAudio
audiomentations<=0.40
pedalboard==0.9.16
resampy

# MIDI / music
pretty-midi
mir-eval

# Data / storage
numpy==1.26
scipy==1.12.0
pandas
lmdb
protobuf

# Config / training utilities
gin-config
absl-py
tqdm>=4.64.1
pyyaml
tensorboard
matplotlib>=3.8.3

# Custom / export
cached-conv>=2.5.0
nn-tilde
packaging


# Private 
# soxr
# pytorch-lightning

